
body {

  height:100%;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  background: rgb(236, 227, 227);
 
}

.Header{
  display:flex;
  margin-right:370px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom:0px;
  

}
.Headerr{
  display:flex;
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.bodyy{
  
  max-width: 800px;
  max-height:1650px;

  overflow:hidden;
  text-indent: 20px;

}

.picture:hover{
  
  border-radius: 20px;
  color: black;
  cursor: pointer;
}

#social { 
  display :flex;
  width: 279px;
  height: 372px;
  margin-left:250px;
  border-radius:150px;
  background-position: center;
  
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.buttoncontain {
  display:flex;
  
  
  margin-left:300px;
  margin-top: 10px;
  margin-bottom:10px;
  border-radius:20px;
  background-color:   #00BFFF;

  color:white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  max-width:fit-content;
  border: 2px solid maroon;
}



a
{
  display:flex;
  flex-direction: row;
 
  margin-bottom:5px;
  border-radius:15px;
  background-color: #ff3b5f;
  color:white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  max-width:fit-content;
  border:3px solid black;
  
}
.boxed{
  border:2px solid brown;
  background:rgb(248, 244, 244);
}
hr {
  width: 47%;
   height: 1px;
   border: 0 none;
   margin-right: auto;
   margin-left: auto;
   margin-top: 80px;
   margin-bottom:90px;
   background-color:rgb(31, 29, 29);
   
} 