

body {

  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(236, 227, 227);
 
}

.Header{
  
  
  font-family: cursive;
  text-decoration:underline;

}

.bodyy{
  
  max-width: 800px;
  max-height:1650px;

  overflow:hidden;
  text-indent: 20px;

}

.picture:hover{
  
  border-radius: 20px;
  color: black;
  cursor: pointer;
}

#social { 
  display :flex;
  width: 279px;
  height: 372px;
  border-radius:150px;
  background-position: center;
  
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.buttoncontain {
  display:flex;
  
  
  margin-left:300px;
  margin-top: 10px;
  margin-bottom:10px;
  border-radius:20px;
  background-color:   burlywood;

  color:white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  max-width:fit-content;
  border: 2px solid maroon;
}



a
{
  display:flex;
  flex-direction: row;
 
  margin-bottom:5px;
  border-radius:20px;
  background-color: #ff3b5f;
  color:white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  max-width:fit-content;
  border:3px solid black;
  
}
.boxed{
  border:2px solid brown;
}